/* 애니메이션 */
@keyframes noise {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(2.2px);
    opacity: 0.5;
  }
}

@keyframes move {
  0% {
    top: 1vh;
    left: 1vw;
  }
  25% {
    top: 60vh;
    left: 70vw;
  }
  35% {
    top: 10vh;
    left: 80vw;
  }
  50% {
    top: 40vh;
    left: 5vw;
  }
  75% {
    top: 70vh;
    left: 10vw;
  }
  87% {
    top: 40vh;
    left: 90vw;
  }
  100% {
    top: 99vh;
    left: 99vw;
  }
}

/* 색상 */
:root {
  --white: #d9d9d9;
  --gray: #2b2a2a;
  --light: #efefef;
  --black: #252323;
  --dark: #0f0f0f;
  --yellow: #fccd03;
}

/* 전체 */
html {
  font-size: 100px;
}
body {
  background-color: var(--black);
  overflow-x: hidden;
  font-family: "NanumSquare", sans-serif;
}

.subtitle {
  color: var(--white);
  font-size: 0.7rem;
  line-height: 130%;
  font-weight: 800;
}

.highlight {
  color: var(--yellow);
}

*.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  box-sizing: border-box;
}

*.desc {
  text-align: justify;
  font-size: 0.18rem;
  line-height: 200%;
  color: var(--white);
  width: 35vw;
}
* .bold {
  font-weight: 800;
}

*.graph {
  width: 35vw;
  height: 35vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.g_chart_1 {
  width: 35vw;
  height: 35vw;
}
.g_chart_2 {
  width: 35vw;
  height: 35vw;
}
*.hover_icon {
  margin: 0 auto;
  width: 3vw;
  height: 3vw;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}
*.back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav */
.navbar {
  position: fixed;
  z-index: 999;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  /* border-bottom: 1.5px solid var(--white); */
  padding: 18px 36px;
  box-sizing: border-box;
}
.navbar_logo {
  width: 40px;
  height: 40px;
  background-image: url(/img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.navbar_logo:hover {
  transform: scale(1.3);
}
.navbar_menu {
  display: flex;
}
.navbar_menu li {
  padding: 12px 16px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}
.navbar_menu li:hover {
  transform: scale(1.3);
}
.navbar_menu li:hover a {
  color: var(--yellow);
}
.navbar_menu a {
  text-decoration: none;
  color: var(--white);
}
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 36px;
  width: 33px;
  height: 33px;
  background-image: url(/img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* intro */
.page1 {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(/img/footprint.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.page1 .fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .dot {
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-radius: 50px;
  background-color: var(--yellow);
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.page1 .intro {
  width: 20vw;
  height: 20vw;
  background-image: url(/img/intro.svg);
  background-size: contain;
  background-repeat: no-repeat;
  animation-direction: alternate;
}

/* 이데일리 뉴스 */
.page2 {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(/img/noise.svg);
  background-size: contain;
  animation-name: noise;
  animation-duration: 0.05s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.page2 .fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 .desc {
  padding: 6vw;
  border: 1px solid var(--white);
}

/* 3.또, 그곳으로 */
.page3 {
  background-color: var(--black);
  position: relative;
  height: 100%;
  width: 100%;
}

/* 학대피해아동쉼터, 그게 뭔데? */
.page4 {
  background-color: var(--black);
  background-image: url(/img/그게뭔데-01.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page4 .hover_icon {
  background-image: url(/img/hover_icon.svg);
}
.wrapper_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page4 .desc {
  padding-top: 5%;
  position: absolute;
  text-align: center;
  color: var(--white);
  transition: all 1s ease-in-out;
  font-weight: 600;
  font-size: 0.4rem;
}
.page4 .desc_hide {
  text-align: justify;
  font-size: 0.18rem;
  line-height: 200%;
  color: var(--white);
  width: 35vw;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.wrapper_4:hover .desc {
  transform: translateX(-20vw);
}
.wrapper_4:hover .hover_icon {
  opacity: 0;
}
.wrapper_4:hover .desc_hide {
  opacity: 1;
  transform: translateX(20vw);
}
/* 5.쉼터의 수 증가 */
.page5 {
  background-color: var(--black);
  position: relative;
  height: 100%;
  width: 100%;
}
.page5 .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*6.겨우7% */
.page6 {
  background-color: var(--black);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_6 .graph {
  position: absolute;
  background-image: url(/img/겨우7.svg);
  transition: all 0.5s ease-in-out;
}
.wrapper_6 .desc {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.wrapper_6:hover .graph {
  background-image: url(/img/겨우7_호버.svg);
}
.wrapper_6:hover .desc {
  opacity: 1;
}
/* 7.쉼터가 왜  부족할까  */
.page7 {
  background-color: var(--dark);
  background-image: url(/img/sitting-01.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page7 .desc {
  text-align: center;
  border: 1px solid var(--white);
  padding: 6vw 0px;
}

.page7 .back {
  background-image: url(/img/girl.svg);
  background-size: cover;
}
/* 8.예산은 어디서  */
.page8 {
  background-color: var(--dark);
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page8 .graph {
  background-image: url(/img/예산은어디서.svg);
}
/* 결론 */
.page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page10 .desc {
  border: 1px solid var(--white);
  padding: 6vw;
}
.page10 .back {
  background-color: var(--dark);
  background-image: url(/img/hand.svg);
  background-size: cover;
}
/*9.사람도 부족하다 */
.page9 {
  background-color: var(--dark);
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page9 .graph {
  background-image: url(/img/사람도부족하다.svg);
}
/* 11.작지만 , 큰 노력들 */
.page11 {
  background-color: var(--dark);
  position: relative;
  width: 100%;
  height: 100%;
}
.page11 .fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page11 .container {
  width: 35vw;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page11 .circle {
  position: relative;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.page11 .hover_icon {
  background-image: url(/img/hover_icon_dark.svg);
}
.page11 .desc {
  padding-top: 5%;
  text-align: center;
  color: var(--black);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  font-size: 0.4rem;
}
.page11 .desc_hide {
  text-align: justify;
  position: absolute;
  color: var(--black);
  box-sizing: border-box;
  width: 65%;
  font-size: 0.15rem;
  line-height: 200%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.circle:hover .desc {
  opacity: 0;
}
.circle:hover .desc_hide {
  opacity: 1;
}
.circle:hover {
  transform: scale(1.1);
  border: 100vh solid var(--white);
  background-color: var(--white);
}
/* 12.방안*/
.page12 {
  background-color: var(--white);
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}
.page12 .subtitle {
  color: var(--black);
  text-align: center;
}
.suggetions {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.suggetion {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 20vw;
  height: 20vw;
  background-color: var(--light);
  border-radius: 50%;
  background-size: contain;
  transition: all 0.3s;
}
#box1 {
  background-image: url(/img/아동권리보장원.svg);
}
#box2 {
  background-image: url(/img/세이브더칠드런.svg);
}
#box3 {
  background-image: url(/img/아동을살리는선물가게.svg);
}
#box1:hover {
  width: 22vw;
  height: 22vw;
  background-image: url(/img/arrow.svg);
  background-size: contain;
  background-color: var(--light);
  border-radius: 50%;
}
#box2:hover {
  width: 22vw;
  height: 22vw;
  background-image: url(/img/arrow.svg);
  background-size: contain;
  background-color: var(--light);
  border-radius: 50%;
}
#box3:hover {
  width: 22vw;
  height: 22vw;
  background-image: url(/img/arrow.svg);
  background-size: contain;
  background-color: var(--light);
  border-radius: 50%;
}

.page12 .desc {
  color: var(--black);
  margin-top: 15%;
  width: 100%;
  font-size: 0.15rem;
}

/* page13 */
.page13 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.page13 .fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page13 .desc {
  text-align: center;
  color: var(--black);
}
/* page14 */
.page14 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.page14 .wrapper {
  align-items: flex-start;
  padding-top: 20vh;
}
.page14 .desc {
  text-align: left;
  font-size: 0.1rem;
  line-height: 230%;
  color: var(--black);
  width: 100vw;
}
.page14 a {
  text-decoration: none;
  color: var(--black);
}

/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
/* -------------------------------------1440px------------- */
@media screen and (max-width: 1441px) {
}

/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
/* -------------------------------------768px------------- */
@media screen and (max-width: 769px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--gray);
  }

  .navbar_menu {
    display: none;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .navbar_menu.active {
    display: flex;
  }
  html {
    font-size: 100px;
  }

  *.desc {
    width: 50vw;
  }
  .subtitle {
    font-size: 0.5rem;
  }
  *.graph {
    width: 70vw;
    height: 70vw;
  }
  .g_chart_1 {
    width: 80vw;
    height: 50vw;
  }
  .g_chart_2 {
    width: 80vw;
    height: 50vw;
  }
  .navbar_logo {
    width: 20px;
    height: 20px;
  }
  .navbar_toggleBtn {
    width: 17px;
    height: 17px;
  }
  /* 인트로 */
  .page1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page1 .dot {
    width: 2vw;
    height: 2vw;
  }
  .page1 .intro {
    width: 20vw;
    height: 20vw;
  }
  /* 이데일리 뉴스 */
.page2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* 3.또, 그곳으로 */
  .page3 {
    margin-top: 25vw;
    margin-bottom: 15vw;
  }
  .page3 .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* 4.학대피해아동쉼터, 그게 뭔데? */
  .page4 {
    width: 100vw;
    height: 100vh;
  }
  .page4 .desc {
    padding-top: 5%;
    position: absolute;
    text-align: center;
    color: var(--white);
    transition: all 0.7s ease-in-out;
    font-weight: 600;
    font-size: 0.4rem;
  }
  .page4 .desc_hide {
    text-align: justify;
    color: var(--white);
    width: 50%;
    opacity: 0;
    transform: translateY(40vw);
    transition: all 0.7s ease-in-out;
  }
  .wrapper_4:hover .desc {
    opacity: 0;
    transform: translateY(-40vw);
  }
  .wrapper_4:hover .hover_icon {
    opacity: 0;
  }
  .wrapper_4:hover .desc_hide {
    opacity: 1;
    transform: translateY(0);
  }
  /* 5.쉼터의 수 증가 */
  .page5 {
    height: 83vh;
    width: 100vw;
    padding-top: 10vh;
  }
  .page5 .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page5 .desc {
    width: 65%;
  }
  /*6.겨우7% */
  .page6 {
    width: 100vw;
    height: 90vh;
    margin-bottom: 15vw;
  }
  .wrapper_6 .desc {
    opacity: 0;
    width: 50%;
    transition: all 0.5s ease-in-out;
  }

  /* 7.쉼터가 왜  부족할까  */
  .page7 {
    background-color: var(--dark);
    background-image: url(/img/sitting-02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
    width: 100vw;
  }
    /* 8.예산은 어디서 */
    .page8 {
      background-color: var(--dark);
      position: relative;
      height: 100vh;
      width: 100vw;
      padding-bottom: 10vh;
    }
    .page8 .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .page8 .graph {
      height: 50vw;
      width: 50vw;
      background-image: url(/img/예산은어디서_375.svg);
      margin-bottom: 4vh;
    }
/*9.사람도 부족하다 */
.page9 {
  background-color: var(--dark);
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page9 .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page9 .graph {
  height: 50vw;
  width: 50vw;
  background-image: url(/img/사람도부족하다_375.svg);
  margin-top: 4vh;
}
  /* 결론 */
  .page10 {
    position: relative;
    height: 70vh;
    width: 100vw;
  }
  .page10 .desc {
    border: 1px solid var(--white);
    padding: 6vw;
  }
  .page10 .back {
    background-color: var(--dark);
    background-image: url(/img/hand-02.svg);
    background-size: cover;
  }
  /* 11.작지만 , 큰 노력들 */
  .page11 {
    background-color: var(--dark);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vw;
  }
  .page11 .container {
    width: 60vw;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page11 .circle {
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .page11 .desc {
    padding-top: 5%;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 0.4rem;
  }
  .page11 .desc_hide {
    text-align: justify;
    position: absolute;
    color: var(--black);
    box-sizing: border-box;
    width: 100%;
    font-size: 0.15rem;
    line-height: 230%;
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .circle:hover .desc {
    opacity: 0;
  }
  .circle:hover .desc_hide {
    opacity: 1;
  }
  .circle:hover {
    border: 100vw solid var(--white);
    background-color: var(--white);
  }
  /* 12.방안*/
.page12 {
  background-color: var(--white);
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.suggetions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.suggetion {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vw;
}

.box {
  width: 50vw;
  height: 50vw;
  background-color: var(--light);
  border-radius: 50%;
  background-size: contain;
  transition: all 0.3s;
}

#box1:hover {
  width: 60vw;
  height: 60vw;

}
#box2:hover {
  width: 60vw;
  height: 60vw;

}
#box3:hover {
  width: 60vw;
  height: 60vw;

}

.page12 .desc {
  color: var(--black);
  margin-top: 10%;
  width: 50vw;
  font-size: 0.18rem;
}
/* page13 */
.page13 {
  position: relative;
  width: 100vw;
  height: 60vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page14 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
/* -------------------------------------375px------------- */
@media screen and (max-width: 376px) {
  html {
    font-size: 20px;
  }

  *.desc {
    width: 70vw;
    line-height: 190%;
  }
  .subtitle {
    font-size: 0.9rem;
  }
  *.graph {
    width: 70vw;
    height: 70vw;
  }
  .g_chart_1 {
    width: 80vw;
    height: 50vw;
  }
  .g_chart_2 {
    width: 80vw;
    height: 50vw;
  }
  .navbar_logo {
    width: 20px;
    height: 20px;
  }
  .navbar_toggleBtn {
    width: 17px;
    height: 17px;
  }
  .page1 .intro {
    width: 40vw;
    height: 40vw;
  }
  .page1 .dot {
    width: 3vw;
    height: 3vw;
  }
  /* 이데일리뉴스*/
  .page2 {
    height: 60vh;
  }
  /* 또, 그곳으로 */
  .page3 {
    margin-top: 30vw;
    margin-bottom: 20vw;
  }
  /* 4.학대피해아동쉼터, 그게 뭔데? */
  .page4 .desc_hide {
    width: 70%;
  }
  /* 5.쉼터의 수 증가 */
  .page5 {
    height: 45vh;
    width: 100vw;
    margin-top: 0;
  }
  .page5 .desc {
    width: 90%;
  }
  /*6.겨우7% */
  .page6 {
    height: 50vh;
    width: 100vw;
    margin-top: 4vw;
  }
  .wrapper_6 .desc {
    opacity: 0;
    width: 70%;
    transition: all 0.5s ease-in-out;
  }

  /* 7.쉼터가 왜  부족할까  */
  .page7 {
    height: 70vh;
    width: 100vw;
  }

/* 8.예산은 어디서  */
.page8 {
  height: 70vh;
  padding-bottom: 9vh;
}
.page8 .graph {
  width: 70vw;
  height: 70vw;
  margin-bottom: 4vh;
}
.page8 .desc {
  width: 70vw;
}
/*9.사람도 부족하다 */
.page9 {
  height: 70vh;
}
.page9 .graph {
  width: 70vw;
  height: 70vw;
  margin-top: 4vh;
}
.page9 .desc {
  width: 70vw;
}
  /* 결론 */
  .page10 {
    position: relative;
    height: 70vh;
    width: 100vw;
  }

  /* 11.작지만 , 큰 노력들 */
  .page11 {
    background-color: var(--dark);
    position: relative;
    width: 100vw;
    height: 35vh;
    padding-bottom: 35vh;
  }
  .page11 .container {
    width: 70vw;
    height: 70vw;
  }
  .page11 .circle {
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .page11 .desc {
    padding-top: 5%;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 0.4rem;
  }
  .page11 .desc_hide {
    text-align: justify;
    position: absolute;
    color: var(--black);
    box-sizing: border-box;
    width: 100%;
    font-size: 0.15rem;
    line-height: 190%;
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .circle:hover .desc {
    opacity: 0;
  }
  .circle:hover .desc_hide {
    opacity: 1;
  }
  .circle:hover {
    border: 100vw solid var(--white);
    background-color: var(--white);
  }
  /* 12.방안*/
.page12 {
  background-color: var(--white);
  position: relative;
  height: 200%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.suggetions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.suggetion {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}

.box {
  width: 50vw;
  height: 50vw;
  background-color: var(--light);
  border-radius: 50%;
  background-size: contain;
  transition: all 0.3s;
}


.page12 .desc {
  color: var(--black);
  width: 90%;
}
/* page13 */

/* 출처 */
.page14 {
  position: relative;
  width: 100vw;
  height: 100%;
  padding-bottom: 5vh;
  background-color: var(--white);
}